<%- include("../partials/html-head") %>
<link rel='stylesheet' href='/stylesheets/flights/index.css' />
<%- include("../partials/nav") %>

  <title>All Flights</title>

  <h1>All Flights</h1>
  <table>
    <thead>
      <tr>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight #</th>
        <th>Departs</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
          <td><a href="/flights/<%= flight._id %>">Details</a></td>
        </tr>
      <% }) %>
    </tbody>
  </table>

<%- include("../partials/footer") %> 